# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store

# Kotlin
.kotlin/

# JDK toolchain (local)
.jdk/

# Native
.cxx/
.externalNativeBuild/

# Logs
*.log

# Captures
captures/
